/* raleway font */
@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400&display=swap");

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 1.5em;
  text-align: center;
  color: palevioletred;
}

.row {
  width: 100%;
  text-align: center;
}

.block {
  display: inline-block;
  margin-right: 6px;
}

.paragraph {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 1em;
  text-align: center;
  color: palevioletred;
  width: 50%;
}

.button {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 1em;
  color: palevioletred;
  background-color: PapayaWhip;
}

#container {
  background-color: Ivory;
  margin-left: 10%;
  margin-right: 10%;
}

#results {
  background-color: White;
  display: none;
}
